Use transaction data from federated table databricks_poc_bigquery_catalog.databricks_poc.transactions

Join to silver.users

Get sum of transactions by age range and write to databricks_poc.gold.transactions_by_age

Get sum of transactions by category and write to databricks_poc.gold.transactions_by_category

Get sum of transactions in the last 30 days and write to databricks_poc.gold.transactions_last_30_days

In [0]:
spark.sql("USE CATALOG databricks_poc")
spark.sql("USE SCHEMA silver")


spark.sql("CREATE SCHEMA IF NOT EXISTS gold")
spark.sql("USE SCHEMA gold")
spark.sql("""
          CREATE OR REPLACE TABLE gold.transactions_by_age AS
          SELECT 
          age_group
          ,round(sum(amount),2) as total_amount
          FROM silver.user_silver_transactions_vw
          GROUP BY 1 
          """)


spark.sql("""
          CREATE OR REPLACE TABLE gold.transactions_by_category AS
          SELECT
          category
          ,round(sum(amount), 2) as total_amount
          FROM silver.user_silver_transactions_vw
          GROUP BY 1
          """)


spark.sql("""
          CREATE OR REPLACE VIEW gold.transactions_last_30_days AS
          SELECT round(sum(amount), 2) as total_amount_last_30_days
          FROM silver.user_silver_transactions_vw
          WHERE transaction_date >= DATE_SUB(current_date(), 30)
          """)